{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <form>
            <div class="container">
                <h1>Preview - Grazing Lease</h1>
                <hr />

                <div class="titleSpacing dataSection"><b>DTID:</b> <span id="dtid">{{message.dtid}}</span></div>
                <div class="titleSpacing dataSection"><b>Tenure File Number:</b> <span id="tfn">{{message.fileNum}}</span></div>
                <div class="titleSpacing dataSection"><b>Primary Contact Name:</b> {{primaryContactName}}</div>
                
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Disposition Transaction ID Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Organization Unit</dt>
                                <dd id="orgUnit">{{ message.orgUnit }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Email Address</dt>
                                <dd>{{ message.emailAddress }}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Incorporation Number</dt>
                                <dd id="orgUnit">{{ message.incorporationNum }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Phone Number</dt>
                                <dd id="phoneNumber">{{ message.phoneNumber }}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Tenure Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Type</dt>
                                <dd id="type">{{ message.type }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subtype</dt>
                                <dd id="subType">{{message.subType}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Purpose</dt>
                                <dd id="purpose">{{ message.purpose }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subpurpose</dt>
                                <dd id="subPurpose">{{message.subPurpose}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Mailing Address</dt>
                                <dd id="address1">{{message.addrLine1}}</dd>
                                <dd id="address2">{{message.addrLine2}}</dd>
                                <dd id="address3">{{message.addrLine3}}</dd>
                                <dd id="cityProvPostal">{{message.cityProvPostal}}</dd>
                                <dd id="county">{{message.country}}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Location of Land</dt>
                                <dd id="locLand">{{message.locLand}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Interested Parties</legend>
                    <div class="contents" style="display: none;">
                        {{#each message.interestedParties}}
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Client Name</dt>
                                <dd id="clientName">{{ this.clientName }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Address</dt>
                                <dd id="address">{{this.address}}</dd>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="generateReport('GL')" id="genReport">Create</button>
                    </div>
                </div>
            </div>
        </form>
        <input type="hidden" id="prdid"></input>
    </main>
    <script>       
        $( document ).ready(function() {
            console.log({{message.err}});
            $("#prdid").text("{{this.prdid}}");
            $("#tfn").text("{{message.fileNum}}");

            $(".dataSection dd").each(function(){
                if ($(this).text() == "" || $(this).text() == "TBD") {
                    $(this).text(" ");
                    $(this).css("border", "solid 1px orange");
                }
            })

            $(".legalDesc").each(function(){
                if ($(this).text().length > 2000) {
                    $(this).text($(this).text().substr(0,2000)+"...");
                }
            })
            if ($("#adminLink").text() == "-") {
                $("#adminLink").hide();
            }
        })
        $("fieldset legend").click(function() {
            $(this).parent().find(".contents").toggle();
            if ($(".fa", this).hasClass("fa-plus")) {
                $(".fa", this).removeClass("fa-plus").addClass("fa-minus");
            } else {
                $(".fa", this).removeClass("fa-minus").addClass("fa-plus");
            }
        });
    </script>
  {{/inline}}
{{/template}}