{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <form>
            <div class="container">
                <h1>Preview - Grazing Lease</h1>
                <hr />

                <div class="titleSpacing dataSection"><b>DTID:</b> <span id="dtid">{{message.dtid}}</span></div>
                <div class="titleSpacing dataSection"><b>Tenure File Number:</b> <span id="tfn">{{message.tenure_file_number}}</span></div>
                <div class="titleSpacing dataSection"><b>Primary Contact Name:</b> {{primaryContactName}}</div>
                
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Disposition Transaction ID Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Contact/Agent Name</dt>
                                <dd>{{message.contact_agent}}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Organization Unit</dt>
                                <dd id="orgUnit">{{ message.organization_unit }}</dd>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Email Address</dt>
                                <dd>{{ message.email_address }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Phone Number</dt>
                                <dd id="phoneNumber">{{ message.phone_number }}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Contact/Agent Email Address</dt>
                                <dd>{{ message.contact_email_address }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Contact/Agent Phone Number</dt>
                                <dd id="phoneNumber2">{{ message.contact_phone_number }}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Incorporation Number</dt>
                                <dd>{{ message.incorporation_number }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Inspected Date</dt>
                                <dd>{{ message.inspected_date }}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Tenure Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Type</dt>
                                <dd id="type">{{ message.type_name }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subtype</dt>
                                <dd id="subType">{{message.sub_type_name}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Purpose</dt>
                                <dd id="purpose">{{ message.purpose_name }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subpurpose</dt>
                                <dd id="subPurpose">{{message.sub_purpose_name}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Mailing Address</dt>
                                <dd id="address">{{message.mailing_address}}</dd>
                                <dd id="cityProvPostal">{{message.cityProvPostal}}</dd>
                                <dd id="postalCode">{{message.mailing_country}}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Location of Land</dt>
                                <dd id="locLand">{{message.location_description}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Area</legend>
                    <div class="contents" style="display: none;">
                        {{#each message.tenure}}
                        <div class="form-row">
                            <div class="form-group col-md-2 dataSection">
                                <dt>Area</dt>
                                <dd id="area">{{ this.Area }}</dd>
                            </div>
                            <div class="form-group col-md-10">
                                <dt>Legal Description</dt>
                                <dd class="legalDesc" title="{{this.LegalDescription}}">{{this.LegalDescription}}</dd>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="generateReport()" id="genReport">Create</button>
                    </div>
                </div>
            </div>
        </form>
        <input type="hidden" id="prdid"></input>
    </main>
    <script>       
        $( document ).ready(function() {
            console.log({{message.err}});
            $("#prdid").text("{{this.prdid}}");
            $("#tfn").text("{{message.tenure_file_number}}");

            $(".dataSection dd").each(function(){
                if ($(this).text() == "" || $(this).text() == "TBD") {
                    $(this).text(" ");
                    $(this).css("border", "solid 1px orange");
                }
            })

            $(".legalDesc").each(function(){
                if ($(this).text().length > 2000) {
                    $(this).text($(this).text().substr(0,2000)+"...");
                }
            })
            if ($("#adminLink").text() == "-") {
                $("#adminLink").hide();
            }
        })
        $("fieldset legend").click(function() {
            $(this).parent().find(".contents").toggle();
            if ($(".fa", this).hasClass("fa-plus")) {
                $(".fa", this).removeClass("fa-plus").addClass("fa-minus");
            } else {
                $(".fa", this).removeClass("fa-minus").addClass("fa-plus");
            }
        });
    </script>
  {{/inline}}
{{/template}}