{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <form action="/generateReport">
            <div class="container">
                <h1>Client</h1>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">DTID</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ message.dtid }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">Version</p>
                    </div>
                    <div class="col-md-2">
                        <select id="versionSelect" class="form-control">
                            {{#each version}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">Report</p>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="document_type_id">
                            <option>Land Use Report</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group collapsible">
                    <legend class='togvis'>Disposition Transaction ID Details</legend>
                    <div class="contents">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Contact or Agent Name</dt>
                                <dd>TBD</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Email Address</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Organization Unit</dt>
                                <dd id="orgUnit">{{ message.orgUnit }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Inspected Date</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Incorporation Number</dt>
                                <dd>TBD</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Inspected Date</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Policy Name</dt>
                                <dd id="orgUnit2">{{ message.orgUnit }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Purpose Statement</dt>
                                <dd id="purpose">{{message.purpose}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend class='togvis'>Tenure Details</legend>
                    <div class="contents">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>File Number</dt>
                                <dd id="fileNum">{{ message.fileNum }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Mailing Address</dt>
                                <dd id="address">{{message.tenantAddr.addrLine1}}</dd>
                                <dd id="cityProv">{{message.tenantAddr.city}} {{message.tenantAddr.provAbbr}}</dd>
                                <dd id="postalCode">{{message.tenantAddr.postalCode}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Type</dt>
                                <dd id="type">{{ message.type }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Subtype</dt>
                                <dd id="subType">{{message.subType}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Purpose</dt>
                                <dd id="purpose2">{{ message.purpose }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Subpurpose</dt>
                                <dd id="subPurpose">{{message.subPurpose}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Area</dt>
                                <dd id="area">{{ message.area }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Location of Land</dt>
                                <dd id="locLand">{{message.locLand}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <dt>Legal Description</dt>
                                <dd id="legalDesc">{{message.legalDesc}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <dt>Version</dt>
                                <dd id="versionNum">1</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Generate Document</button>
            </div>
        </form>
    </main>
    <script>
        var dataArray = [];
        $( document ).ready(function() {
            {{#each data}}
            dataArray.push({
                dtid: {{this.dtid}},
                version: {{this.version}},
                orgUnit: "{{this.orgUnit}}",
                purpose: "{{this.purpose}}",
                subPurpose: "{{this.subPurpose}}",
                fileNum: "{{this.fileNum}}",
                type: "{{this.type}}",
                subType: "{{this.subType}}",
                area: "{{this.area}}",
                locLand: "{{this.locLand}}",
                legalDesc: "{{this.legalDesc}}",
                tenantAddr: {
                    addrLine1: "{{this.tenantAddr.addrLine1}}",
                    city: "{{this.tenantAddr.city}}",
                    provAbbr: "{{this.tenantAddr.provAbbr}}",
                    postalCode: "{{this.tenantAddr.postalCode}}",
                }

            });
            {{/each}}
        })
        $( "#versionSelect" ).change(function () {
            $( "#versionSelect option:selected" ).each(function() {
                let data;
                for (let item of dataArray) {
                    if (item.version == $(this).text()) {
                        data = item;
                    }
                }
                if (data) {
                    $("#orgUnit").text(data.orgUnit)
                    $("#orgUnit2").text(data.orgUnit)
                    $("#purpose").text(data.purpose)
                    $("#fileNum").text(data.fileNum)
                    $("#address").text(data.tenantAddr.addrLine1)
                    $("#cityProv").text(data.tenantAddr.city+" "+data.tenantAddr.provAbbr)
                    $("#postalCode").text(data.tenantAddr.postalCode)
                    $("#type").text(data.tenantAddr.type)
                    $("#subType").text(data.tenantAddr.subType)
                    $("#purpose2").text(data.purpose)
                    $("#subPurpose").text(data.subPurpose)
                    $("#area").text(data.area)
                    $("#locLand").text(data.locLand)
                    $("#legalDesc").text(data.legalDesc)
                    $("#versionNum").text(data.version)
                } else {
                    console.log("Error changing version number");
                }
            })
        })
    </script>
  {{/inline}}
{{/template}}