{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <form>
            <div class="container">
                <h1>Client</h1>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">DTID</p>
                    </div>
                    <div class="col-md-2">
                        <p id="dtid">{{ message.dtid }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">Report</p>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="document_type_id">
                            {{#each documentTypes}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">Version</p>
                    </div>
                    <div class="col-md-1">
                        <select id="versionSelect" class="form-control">
                            {{#each version}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                      </select>
                    </div>
                </div>
                <div class="mt-3 mb-3">
                <div class="accordion" id="collapseContents">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseOne">Disposition Transaction ID Details <i class="fa fa-angle-down"></i></button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#collapseContents">
                            <div class="card-body">
                                <div class="contents">
                                <div class="form-row">
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Contact or Agent Name</dt>
                                        <dd>TBD</dd>
                                    </div>
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Email Address</dt>
                                        <dd>TBD</dd>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Organization Unit</dt>
                                        <dd id="orgUnit">{{ message.organization_unit }}</dd>
                                    </div>
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Inspected Date</dt>
                                        <dd></dd>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Incorporation Number</dt>
                                        <dd></dd>
                                    </div>
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Inspected Date</dt>
                                        <dd>TBD</dd>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Policy Name</dt>
                                        <dd id="orgUnit2">{{ message.organization_unit }}</dd>
                                    </div>
                                    <div class="form-group col-md-5 dataSection dataSection">
                                        <dt>Purpose Statement</dt>
                                        <dd id="purpose">{{message.purpose_name}}</dd>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="collapseContentsTwo">
                    <div class="card" style="border-bottom: 1px solid #dddddd">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn" data-toggle="collapse" data-target="#collapseTwo">Tenure Details <i class="fa fa-angle-down"></i></button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#collapseContents">
                            <div class="card-body">
                                <div class="contents">
                                    <div class="form-row">
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>File Number</dt>
                                            <dd id="fileNum">{{ message.tenure_file_number }}</dd>
                                        </div>
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Mailing Address</dt>
                                            <dd id="address">{{message.mailing_address_line_1}}</dd>
                                            <dd id="cityProv">{{message.mailing_city}} {{message.mailing_province_state_code}}</dd>
                                            <dd id="postalCode">{{message.mailing_postal_code}}</dd>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Type</dt>
                                            <dd id="type">{{ message.type_name }}</dd>
                                        </div>
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Subtype</dt>
                                            <dd id="subType">{{message.sub_type_name}}</dd>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Purpose</dt>
                                            <dd id="purpose2">{{ message.purpose_name }}</dd>
                                        </div>
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Subpurpose</dt>
                                            <dd id="subPurpose">{{message.sub_purpose_name}}</dd>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Area</dt>
                                            <dd id="area">{{ message.area_ha_number }}</dd>
                                        </div>
                                        <div class="form-group col-md-5 dataSection">
                                            <dt>Location of Land</dt>
                                            <dd id="locLand">{{message.location_description}}</dd>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <dt>Legal Description</dt>
                                            <dd id="legalDesc">{{message.legal_description}}</dd>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <dt>Version</dt>
                                            <dd id="versionNum">1</dd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="generateReport()" id="genReport">Generate Document</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-none" id="prdid"></div>
    </main>
    <script>
        var dataArray = [];       
        $( document ).ready(function() {
            $("#prdid").text("{{this.prdid}}");
            {{#each data}}
            dataArray.push({
                dtid: "{{this.dtid}}",
                version: "{{this.version}}",
                organization_unit: "{{this.organization_unit}}",
                purpose_name: "{{this.purpose_name}}",
                sub_purpose_name: "{{this.sub_purpose_name}}",
                tenure_file_number: "{{this.tenure_file_number}}",
                type_name: "{{this.type_name}}",
                sub_type_name: "{{this.sub_type_name}}",
                area_ha_number: "{{this.area_ha_number}}",
                location_description: "{{this.location_description}}",
                legal_description: "{{this.legal_description}}",
                mailing_address_line_1: "{{this.mailing_address_line_1}}",
                mailing_city: "{{this.mailing_city}}",
                mailing_province_state_code: "{{this.mailing_province_state_code}}",
                mailing_postal_code: "{{this.mailing_postal_code}}",
            });
            {{/each}}
             // Add minus icon for collapse element which is open by default
            $(".collapse.show").each(function(){
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-up").removeClass("fa-angle-down");
            });
            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
            }).on('hide.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
            });

            $(".dataSection dd").each(function(){
                if ($(this).text() == "" || $(this).text() == "TBD") {
                    $(this).text(" ");
                    $(this).css("background-color", "orange");
                }
            })
        })
        //$( "#versionSelect" ).change(function () {
        //    $( "#versionSelect option:selected" ).each(function() {
        //        let data;
        //        for (let item of dataArray) {
        //            if (item.version == $(this).text()) {
        //                data = item;
        //            }
        //        }
        //        if (data) {
        //            $("#orgUnit").text(data.organization_unit)
        //            $("#orgUnit2").text(data.organization_unit)
        //            $("#purpose").text(data.purpose_name)
        //            $("#fileNum").text(data.tenure_file_number)
        //            $("#address").text(data.mailing_address_line_1)
        //            $("#cityProv").text(data.mailing_city+" "+data.mailing_province_state_code)
        //            $("#postalCode").text(data.mailing_postal_code)
        //            $("#type").text(data.type_name)
        //            $("#subType").text(data.sub_type_name)
        //            $("#purpose2").text(data.purpose_name)
        //            $("#subPurpose").text(data.sub_purpose_name)
        //            $("#area").text(data.area_ha_number)
        //            $("#locLand").text(data.location_description)
        //            $("#legalDesc").text(data.legal_description)
        //            $("#versionNum").text(data.version)
        //        } else {
        //            console.log("Error changing version number");
        //        }
        //    })
        //})
    </script>
  {{/inline}}
{{/template}}