{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <form>
            <div class="container">
                <h1>Preview - Notice of Final Review</h1>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="sectionTitle">Select an NFR Variant</p>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="documentVariantId">
                            {{#each documentTypes}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <hr>

                <div class="titleSpacing dataSection"><b>DTID:</b> <span id="dtid">{{message.dtid}}</span></div>
                <div class="titleSpacing dataSection"><b>Tenure File Number:</b> {{message.db_file_number}}</div>
                <div class="titleSpacing dataSection"><b>Primary Contact Name:</b> {{message.db_name_bcal_contact}}</div>
                
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Disposition Transaction ID Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Organization Unit</dt>
                                <dd id="orgUnit">{{ message.organization_unit }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Email Address</dt>
                                <dd>{{ message.email_address }}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Incorporation Number</dt>
                                <dd id="orgUnit">{{ message.incorporation_number }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection dataSection">
                                <dt>Primary Contact Phone Number</dt>
                                <dd id="phoneNumber">{{ message.phone_number }}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Tenure Details</legend>
                    <div class="contents" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Type</dt>
                                <dd id="type">{{ message.type_name }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subtype</dt>
                                <dd id="subType">{{message.sub_type_name}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Purpose</dt>
                                <dd id="purpose">{{ message.purpose_name }}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Subpurpose</dt>
                                <dd id="subPurpose">{{message.sub_purpose_name}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 dataSection">
                                <dt>Mailing Address</dt>
                                <dd id="address">{{message.mailing_address_line_1}}</dd>
                                <dd id="address">{{message.mailing_address_line_2}}</dd>
                                <dd id="address">{{message.mailing_address_line_3}}</dd>
                                <dd id="cityProv">{{message.mailing_city}}</dd>
                                <dd id="postalCode">{{message.mailing_province_state_code}}, {{message.mailing_postal_code}}</dd>
                                <dd id="county">{{message.mailing_country}}</dd>
                            </div>
                            <div class="form-group col-md-5 dataSection">
                                <dt>Location of Land</dt>
                                <dd id="locLand">{{message.location_description}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Interested Parties</legend>
                    <div class="contents" style="display: none;">
                        {{#each message.interested_parties}}
                        <div class="form-row">
                            <div class="form-group col-md-2 dataSection">
                                <dt>First Name</dt>
                                <dd id="firstName">{{ this.first_name }}</dd>
                            </div>
                            <div class="form-group col-md-2">
                                <dt>Middle Name</dt>
                                <dd id="middleName">{{this.middle_name}}</dd>
                            </div>
                            <div class="form-group col-md-2">
                                <dt>Last Name</dt>
                                <dd id="lastName">{{this.last_name}}</dd>
                            </div>
                            <div class="form-group col-md-3">
                                <dt>Address</dt>
                                <dd id="address">{{this.address}}</dd>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend id="provisionLegend" style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Provisions</legend>
                    <div class="contents" style="display: none;">
                        <span>Select A Group:
                            <select id="group-select">{{#each groupMaxJsonArray}}<option value="{{this.provision_group}}">{{this.provision_group}}{{/each}}</option></select>     Max for this Group is <span id="maxGroupNum"></span></span>
                        <table id="provisionTable" style="width:100%">
                            <thead>
                                <th>Type</th>
                                <th style="min-width: 300px">Provision</th>
                                <th style="min-width: 150px">Free Text</th>
                                <th style="min-width: 150px">Category</th>
                                <th></th>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                                <th style="display: none"></th>
                            </thead>
                        </table>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend style="cursor: pointer" class='togvis sectionTitle'><i class="fa fa-plus"></i>  Variables</legend>
                    <div class="contents" style="display: none;">
                        <table id="variableTable"></table>
                    </div>
                    <div class="form-group row">
                        
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button id="nextGroup" class="btn btn-success">Save for Later</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="generateReport()" id="genReport">Create</button>
                    </div>
                </div>
                <div style="display: none">
                    <table id="groupMaxTable"></table>
                </div>
            </div>
        </form>
        <input type="hidden" id="prdid"></input>
        <input type="hidden" id="tfn"></input>
    </main>
    <script>
        const groupMaxJsonArray = {{{json groupMaxJsonArray}}};
        const defaultGroup = groupMaxJsonArray.reduce((acc, cur) => acc.provision_group < cur.provision_group ? acc : cur).provision_group;
        let groupMaxTable;
        let provisionTable;
        $( document ).ready(function() {
            const dtid = {{message.dtid}};
            console.log({{message.err}});
            $("#prdid").text("{{this.prdid}}");
            $("#tfn").text("{{message.db_file_number}}");

            $(".dataSection dd").each(function(){
                if ($(this).text() == "" || $(this).text() == "TBD") {
                    $(this).text(" ");
                    $(this).css("border", "solid 1px orange");
                }
            })

            $(".legalDesc").each(function(){
                if ($(this).text().length > 2000) {
                    $(this).text($(this).text().substr(0,2000)+"...");
                }
            })
            if ($("#adminLink").text() == "-") {
                $("#adminLink").hide();
            }
            groupMaxTable = $('#groupMaxTable').DataTable({
                "ajax": {
                    "url": `${window.location.origin}/admin/get-group-max/${dtid}`,
                    "dataSrc": ""
                },
                "columns": [
                    { data: "provision_group",  title: "Group"},
                    { data: "max",  title: "Max"}
                ],
                "order": [0, 'asc']
            });
            provisionTable = $('#provisionTable').DataTable({
                "ajax": {
                    "url": `${window.location.origin}/admin/nfr-provisions/${dtid}`,
                    "dataSrc": "",
                }, 
                "paging": false,
                "bFilter": false,
                "columns": [
                    { data: "type"},
                    { data: "provision_text"},
                    { data: "free_text"},
                    { data: "category"},
                    { data: "select"},
                    { data: "provision_group" },
                    { data: "max" },
                    { data: "id" }
                ],
                "columnDefs": [
                {
                    "targets": [0, 1, 2, 3, 4, 5, 6, 7],
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            var columnTypes = ["type", "provision_text", "free_text", "category", "select", "provision_group", "max", "id"];
                            var columnType = columnTypes[meta.col];
                            var id = row["id"];
                            var group = row["group"];
                            var max = row["max"];

                            if (columnType === "select") {
                                const checked = data === true ? 'checked' : '';
                                return `<input type='checkbox' id='active-${id}' data-id='${id}' data-group='${group}' data-max='${max}' ${checked}>`;
                            } else if (columnType === "max" || columnType === "provision_group" || columnType === "id" ) {
                                return `<input type='hidden' id='${columnType}-${id}' value='${data}' />`;
                            } else {
                                return `<input type='text' id='${columnType}-${id}' value='${data}' readonly style='color: gray; width: 100%;' />`;
                            }
                        } else {
                            return data;
                        }
                    },
                },
                {
                    targets: 4,
                    className: 'text-center',
                    orderDataType: "dom-checkbox"
                },
                {
                    targets: [5, 6, 7],
                    orderable: false,
                }],
                "drawCallback": function (settings) {
                        // add event listeners to the provision checkboxes
                        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                        if (checkboxes.length > 0) {
                            checkboxes.forEach(checkbox => {
                                checkbox.addEventListener('click', function() {
                                    const group = checkbox.dataset.group;
                                    const max = checkbox.dataset.max;
                                    const active = document.querySelectorAll(`input[type="checkbox"][data-group="${group}"]:checked`).length;
                                    if (active >= max) {
                                        document.querySelectorAll(`input[type="checkbox"][data-group="${group}"]:not(:checked)`).forEach(checkbox => {
                                            checkbox.disabled = true;
                                        });
                                    } else {
                                        document.querySelectorAll(`input[type="checkbox"][data-group="${group}"]:not(:checked)`).forEach(checkbox => {
                                            checkbox.disabled = false;
                                        });
                                    }
                                    
                                    if (checkbox.checked) {
                                        fetch(`admin/select-provision/${checkbox.dataset.id}`);
                                    } else {
                                        fetch(`admin/deselect-provision/${checkbox.dataset.id}`);
                                    }
                                });
                                const g = checkbox.dataset.group;
                                const m = checkbox.dataset.max;
                                const a = document.querySelectorAll(`input[type="checkbox"][data-group="${g}"]:checked`).length;
                                if (a >= m) {
                                    document.querySelectorAll(`input[type="checkbox"][data-group="${g}"]:not(:checked)`).forEach(checkbox => {
                                        checkbox.disabled = true;
                                    });
                                }
                            });
                        }
                    },
                    order: [[1, 'asc']]
            });
            $('#variableTable').DataTable({
                "paging": false,
                "bFilter": false,
                "columns": [
                    { data: "type"},
                    { data: "provision"},
                    { data: "selectedVar"},
                ],
                "columnDefs": [
                {
                    "targets": [0, 1, 2],
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            var columnTypes = ["documentVariableName", "enterText", "selectedVar"];
                            var columnType = columnTypes[meta.col];
                            var selectedVar = row["selectedVar"];

                            if (columnType === "selectedVar") {
                                return "<input type='radio' data-id='variable-" + selectedVar + "'>";
                            } else {
                                return "<input type='text' id='" + columnType + "-" + selectedVar + "' value='" + data + "' readonly style='color: gray; width: 100%;' />";
                            }
                        } else {
                            return data;
                        }
                    },
                },
                {
                    targets: 2,
                    orderDataType: "dom-checkbox"
                }]
            });
        });
        // event listener for the Select A Group dropdown
        $('#group-select').on('change', function() {
            const selectedGroup = $(this).val();
            provisionTable.rows().every(function() {
                const provisionGroup = this.data().provision_group;
                if (selectedGroup == '' || provisionGroup == selectedGroup) {
                    $(this.node()).show();
                } else {
                    $(this.node()).hide();
                }
            });
        });
        function filterRows() {
            const selectedGroup = $('#group-select').val();
            const groupMax = groupMaxJsonArray.find(element => element.provision_group == selectedGroup).max;
            $('#maxGroupNum').text(groupMax);
            provisionTable.rows().every(function() {
                const provisionGroup = this.data().provision_group;
                if (selectedGroup == '' || provisionGroup == selectedGroup) {
                    $(this.node()).show();
                } else {
                    $(this.node()).hide();
                }
            });
        }
        $('#provisionLegend').click(function() {
            filterRows();
        });
        // collapsible sections
        $("fieldset legend").click(function() {
            $(this).parent().find(".contents").toggle();
            if ($(".fa", this).hasClass("fa-plus")) {
                $(".fa", this).removeClass("fa-plus").addClass("fa-minus");
            } else {
                $(".fa", this).removeClass("fa-minus").addClass("fa-plus");
            }
        });
    </script>
  {{/inline}}
{{/template}}