<!DOCTYPE html>
<html lang="en" class="fill-height-md">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Tantalis Integrated Common Document Generator Interface</title>

    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/ticdi.css">

    <link rel="apple-touch-icon" href="/images/bcid-apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/images/bcid-favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/images/bcid-favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="mask-icon" href="/images/bcid-apple-icon.svg" color="#036" />
    <link rel="icon" href="/images/bcid-favicon-32x32.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#036" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="https://www2.gov.bc.ca">
                    <img class="img-fluid d-none d-md-block" src="/images/bcid-logo-rev-en.svg" width="181" height="44"
                        alt="B.C. Government Logo" />
                    <img class="img-fluid d-md-none" src="/images/bcid-symbol-rev.svg" width="64" height="44"
                        alt="B.C. Government Logo" />
                </a>
                <div class="navbar-brand">
                    Tantalis Integrated Common Document Generator Interface
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <main role="main">
        <form action="/generateReport">
            <div class="container">
                <h1>Client</h1>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">DTID</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ message.dtid }}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="font-weight-bold">Land Use Report</p>
                    </div>
                    <div class="col-md-2">
                        <select lass="form-control-plaintext" id="document_type_id">
                            <option>Land Use Report</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group collapsible">
                    <legend class='togvis'>Disposition Transaction ID Details</legend>
                    <div class="contents">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Contact or Agent Name</dt>
                                <dd>TBD</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Email Address</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Organization Unit</dt>
                                <dd>{{ message.orgUnit }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Inspected Date</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Incorporation Number</dt>
                                <dd>TBD</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Inspected Date</dt>
                                <dd>TBD</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Policy Name</dt>
                                <dd>{{ message.orgUnit }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Purpose Statement</dt>
                                <dd>{{message.purpose}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend class='togvis'>Tenure Details</legend>
                    <div class="contents">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>File Number</dt>
                                <dd>{{ message.fileNum }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Mailing Address</dt>
                                <dd>{{message.tenantAddr.addrLine1}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Type</dt>
                                <dd>{{ message.type }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Subtype</dt>
                                <dd>{{message.subType}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Purpose</dt>
                                <dd>{{ message.purpose }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Subpurpose</dt>
                                <dd>{{message.subPurpose}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <dt>Area</dt>
                                <dd>{{ message.area }}</dd>
                            </div>
                            <div class="form-group col-md-5">
                                <dt>Location of Land</dt>
                                <dd>{{message.locLand}}</dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <dt>Legal Description</dt>
                                <dd>{{message.legalDesc}}</dd>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group collapsible">
                    <legend class='togvis'>Provision List</legend>
                    <div class="contents">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-append">
                                <input type="checkbox" class="form-control-input" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-append">
                                <input type="checkbox" class="form-control-input" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-append">
                                <input type="checkbox" class="form-control-input" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-append">
                                <input type="checkbox" class="form-control-input" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <div class="input-group-append">
                                <input type="checkbox" class="form-control-input" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Generate Document</button>
            </div>
        </form>

    </main>

    <footer class="footer">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Navbar content -->
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www2.gov.bc.ca/gov/content?id=79F93E018712422FBC8E674A67A70535"
                            target="_blank">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www2.gov.bc.ca/gov/content?id=9E890E16955E4FF4BF3B0E07B4722932"
                            target="_blank">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www2.gov.bc.ca/gov/content?id=E08E79740F9C41B9B0C484685CC5E412"
                            target="_blank">Accessibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www2.gov.bc.ca/gov/content?id=1AAACC9C65754E4D89A118B875E0FBDA"
                            target="_blank">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www2.gov.bc.ca/gov/content?id=6A77C17D0CCB48F897F8598CCC019111"
                            target="_blank">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        // enable popovers everywhere
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $('fieldset.collapsible > legend').prepend(' [<span class="toggleIcon" style="font-family: monospace;">-</span>]');
        $('fieldset.collapsible > legend').click(function () {
            var $divs = $(this).siblings();
            $divs.toggle();

            $(this).find('span').text(function () {
                return ($divs.is(':visible')) ? '-' : '+';
            });
        });
    </script>
</body>

</html>