
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h3>
        Client
    </h3>
    <div>
        DTID: {{ message.dtid }}
    </div>
    <div>
        File Number: {{ message.fileNum }}
    </div>
    <div>
        Org Unit: {{ message.orgUnit }}
    </div>
    <div>
        Complex Level: {{ message.complexLevel }}
    </div>
    <div>
        Purpose: {{ message.purpose }}
    </div>
    <div>
        Sub Purpose: {{ message.subPurpose }}
    </div>
    <div>
        Sub Type: {{ message.subType }}
    </div>
    <div>
        Type: {{ message.type }}
    </div>
    <div>
        locLand: {{ message.locLand }}
    </div>
    <div>
        legalDesc: {{ message.legalDesc }}
    </div>
    <div>
        First Name: {{ message.tenantAddr.firstName }}
    </div>
    <div>
        Last Name: {{ message.tenantAddr.lastName }}
    </div>
    <button>Generate Document</button>
  </body>
</html>
